
.App {
  margin:1rem 3rem;
  text-align: center;
}
.Header{
  background-color: blue;
  color:white;
  margin:0 -3rem;
}
.first-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.grid-item{
  min-width: calc(((100vw - 6rem)/3 - 2rem));
  border:1px solid black;
}
.image{
  width:100%;
}
/* Landscape */
@media screen and (max-width:568){
  .App{
    margin:1rem;
  }
  .Header{
    margin:0 -1rem;
    background-color: red;
  }
  .first-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
/* Portrait */
@media screen and (max-width:360px){
  .App{
    margin:1rem;
  }
  .Header{
    margin:0 -1rem;
  }
  .first-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}